	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>WinByHit</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">WinbyHit</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/main">Users</a></li>
					<li><a href="/playing">Players</a></li>
				</ul>
				<button type="button" class="btn btn-primary pull-right" id="logout">Logout</button>
			</div>
		</nav>
		<div class="container">
			<div class="table-responsive">          
				<table class="table">
					<tr>
						<th>#</th>
						<th>Username</th>
						<th>Score</th>
						<th>Banned</th>
						<th>Bann</th>
					</tr>
				</table>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var socket = io.connect('https://secret-sands-26285.herokuapp.com');
			$(document).ready(function() 
			{
				$.ajax
				({
					type: 'get',
					url: '/getUsers',
					success: function(data) 
					{
						var tr;
						for (var i = 0; i < data.length; i++) 
						{
							tr = $('<tr/>');
							tr.append("<td>" + data[i].id + "</td>");
							tr.append("<td>" + data[i].username + "</td>");
							tr.append("<td>" + data[i].score + "</td>");
							tr.append("<td>" + data[i].Banned + "</td>");
							tr.append("<td><button class='btn btn-primary bann' id='bannUser' onclick='here("+ data[i].id +");'>Bann</button></td>");
							$('table').append(tr);
						}
					}
				});
			});
			function here(id)
			{
				socket.emit('bann', id);
				socket.on('refresh',function()
				{
					location.reload();
				});
			}
			$('#logout').click(function()
			{
				$.ajax
				({
					type: 'get',
					url: '/logout',
					success: function(data) 
					{
						window.location.href = '/adminlogin';
					}
				});
			});
		</script>
	</body>
	</html>
